div {background-color:#d979e8;
    border-style: solid;
    margin-top: 50px;
    border-width: 5px;
    border: 5px solid black;
      padding-left: 15px;
  border-radius: 10px;
     <img src="download.jpeg"/> 
    "secondpage.htiml" }
<Body
     font-family: "Times New Roman", Times, serif;
     Body> 
